<div class="module">
<h3 class="uk-heading-line"><span>Create an Event</span></h3>

  <%= form_for @event, html: {class: 'uk-form-stacked'} do |f| %>
    <%= f.label "Event", class: 'uk-form-label' %>
    <%= f.text_field :text, class: 'uk-input', placeholder: "ex. Christmas 2017", :required => true %>
    <%= f.label "Date: (format 2/25/2017, 05:00 PM)", class: 'uk-form-label' %>
    <%= f.datetime_field :date, class: 'uk-input', :required => true, placeholder: "12/25/2017, 05:00 PM" %>
    <%= f.label :location, class: 'uk-form-label' %>
    <%= f.text_field :location, class: 'uk-input', placeholder: "ex. Bantados Residence", :required => true %>
    <%= f.label "Person to Contact for more Info", class: 'uk-form-label' %>
    <%= f.text_field :contact, class: 'uk-input', placeholder: "ex. Onofre Bantados", :required => true %>
    <br />
    <br />
    <%= f.submit 'Create Event', class: 'uk-button uk-button-primary' %>
  <% end %>
</div>

<%= stylesheet_pack_tag 'form' %>
