<div class="uk-grid-match uk-child-width-1-3@m" uk-grid>

<div>
  <div class="uk-card uk-card-hover uk-card-default uk-card-primary", style="background-color: #3498db;">
    <div class="uk-card-header">
      <div class="uk-grid-small uk-flex-middle" uk-grid>
        <div class="uk-width-auto">
          <h3 class="uk-card-title uk-margin-remove-bottom">
            <%= @event.text %> <span class="uk-text-meta">(<%= @event.date.strftime("%b %e, %l:%M %p") %>)</span>
          </h3> 
        </div>
      </div>
    </div>
    <div class="uk-card-body">
      <h4 class="uk-card-title uk-margin-remove-bottom uk-margin-remove-top">Information:</h4>
      Location: <%= @event.location %><br/>
      Contact Person: <%= @event.contact %>      
    </div>
  </div>
</div>
  <div>
    <div class="uk-card uk-card-hover uk-card-default uk-card-default">
      <div class="uk-card-header">
        <div class="uk-grid-small uk-flex-middle" uk-grid>
          <div class="uk-width-auto">
            <h3 class="uk-card-title uk-margin-remove-bottom">
              Bring a Previous Dish
            </h3> 
          </div>
        </div>
      </div>
      <div class="uk-card-body">
        <ul class="uk-list">
          <% @dishes.each do |dish| %>
            <% if !@event.dishes.include?(dish) %>
            <li>
            <%= dish.name %> - 
            <%= form_for(@event) do |f| %>
              <%= hidden_field_tag :dish_id, dish.id %>
              <%= f.submit "I'll Bring It!", class: 'uk-button-mini uk-button-secondary' %>
            <% end %>
            <%= button_to "Delete", event_dish_path(@event, dish), method: :delete %>
            </li>
            <% end %>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
    <div>
    <div class="uk-card uk-card-hover uk-card-default uk-card-primary", style="background-color: #27ae60;">
      <div class="uk-card-header">
        <div class="uk-grid-small uk-flex-middle" uk-grid>
          <div class="uk-width-auto">
            <h3 class="uk-card-title uk-margin-remove-bottom">
              Bring a Dish Not on the List
            </h3> 
          </div>
        </div>
      </div>
      <div class="uk-card-body">
        
        <%= form_for ([@event, Dish.new]) do |f| %>
          <%= f.label "Dish Name", class: 'uk-form-label' %>
          <%= f.text_field :name, class: 'uk-input-small' %>
          <%= f.submit 'Add Dish', class: 'uk-button-mini uk-button-primary' %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="uk-grid-match uk-child-width-1-2@m uk-text-center" uk-grid>
  <div>
    <div class="uk-card uk-card-hover uk-card-default uk-card-default">
      <div class="uk-card-header">
        <div class="uk-grid-small uk-flex-middle" uk-grid>
          <div class="uk-width-auto">
            <h3 class="uk-card-title uk-margin-remove-bottom">
              Dishes claimed
            </h3> 
          </div>
        </div>
      </div>
      <div class="uk-card-body">
        <ul class="uk-list">
          <% @event.claimed_dishes.each do |ed| %>
            <li><%= ed.dish.name.split.map(&:capitalize).join(' ') %> - <%= ed.user.name %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
  <div>
    <div class="uk-card uk-card-hover uk-card-default uk-card-default">
      <div class="uk-card-header">
        <div class="uk-grid-small uk-flex-middle" uk-grid>
          <div class="uk-width-auto">
            <h3 class="uk-card-title uk-margin-remove-bottom">
              Comments
            </h3> 
          </div>
        </div>
      </div>
      <div class="uk-card-body">
        <ul class="uk-list">          
          <li>Comment 1</li>
        </ul>
      </div>
    </div>
  </div>
</div>