<div class="uk-text-center">
  <h2><%= @event.text %></h2>
  <p><%= @event.date.strftime("%b %e, %l:%M %p") %></p>
  <h4>Where:</h4>
  <%= @event.street %><br/>
  <%= @event.city %>, <%= @event.state %> <%= @event.zip %>
</div>

<p>Add a new dish to the list</p>
<%= form_for ([@event, Dish.new]) do |f| %>
  <%= f.label :name, class: 'uk-form-label' %>
  <%= f.text_field :name, class: 'uk-input-small' %>
  <%= f.submit 'Add Dish', class: 'uk-button-mini uk-button-primary' %>
<% end %>
<h4>Dishes needed: </h4>
<ul class="uk-list">
  <% @event.unclaimed_dishes.each do |ed| %>
    <li>
    <%= ed.dish.name %>
    <%= form_for(ed) do |f| %>
      <%= f.submit "Claim" %>
    <% end %>
    </li>
  <% end %>
</ul>
<h4>Dishes claimed: </h4>
<ul class="uk-list">
  <% @event.claimed_dishes.each do |ed| %>
    <li><%= ed.dish.name %> - <%= ed.user.name %></li>
  <% end %>
</ul>